body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-size: 14px;
  font-family: 'Source_Sans_Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333;
  line-height: 1;
}
a {
  color: #0099e8;
  text-decoration: none;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

// blockレベル関係
.l-single-head {
  padding: 24px 8px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .l-single-head {
    padding: 32px 16px;
    font-size: 22px;
  }
}
.l-single-inner {
  border-top: 1px solid #f5f5f5;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .l-single-inner {
    padding: 64px;
  }
}
.l-single-content {
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .l-content {
    float: none;
    width: 700px;
  }
}

// form関係
.form-group {
  width: 100%;
  margin: 40px 0 0;
  &.first {
    margin: 0;
  }
}
.input-default {
  width: 100%;
  height: 48px;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
label {
  font-weight: 600;
  font-size: 14px;
}
.form-repuire{
  background: $red;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.form-repuire-any {
    background: #ccc;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
}




// button関係
button {
  border: 0;
  outline: 0;
  cursor: pointer;
  min-height: 1.5em;
}
.btn-sns {
  position: relative;
}
.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.btn-red {
  background: $red;
  border: 1px solid $red;
  color: $white;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
}
.btn-sns-facebook {
  margin: 14px 0 0;
  background: #385185;
  color: $white;
  font-size: 16px;
  > a {
    color: $white;
  }
  > i {
    float: left;
    font-size: 20px;
    margin: 14px 0px 0px 14px;
  }
}
.btn-sns-google {
  margin: 14px 0 0;
  background: #dc4e41;
  color: $white;
  font-size: 16px;
  > a {
    color: $white;
  }
  > i {
    float: left;
    font-size: 20px;
    margin: 14px 0px 0px 14px;
  }
}
.actions {
  margin-top: 40px;
}


// error_explanation
#error_explanation {
  color: $red;
  margin: 0 0 32px;
  h2 {
    font-size: 18px;
  }
  ul {
    padding: 14px 0 0 18px;
    list-style: initial;
    li {
      margin: 8px 0 0 0;
    }
  }
}
