#payment_edit {
  body {
    position: relative;
    min-height: 100%;
    font-family: Source Sans Pro, Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
    background: #f5f5f5;
  }
  h2 {
    line-height: 1.4;
    display: block;
    font-size: 1.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }
  .l-container {
    margin: 24px auto 0;
    padding: 0 0 40px;
  }
  .l-single-inner {
    border-top: 1px solid #f5f5f5;
    padding: 40px;
    a {
      color: #0099e8;
      text-decoration: none;
    }
  }
  .l-chapter-container {
    margin: 40px 0 0;
    background: $white;
    &:first-child {
      margin: 0;
    }
  }
  .l-chapter{
    &__head {
      margin: 0;
      padding: 12px 4%;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-size: 18px;
    }
  }

  .l-single-content {
    max-width: 320px;
    margin: 0 auto;
  }
  .settings-payment {
    &__remove {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px 6px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ea352d;
      color: #ea352d;
      height: 21px;
      line-height: 1;
      width: 70px;
      font-size: 14px;
    }
    &__num {
      margin: 8px 0 0;
      font-size: 16px;
    }
  }

  @media screen and(min-width: 768px) {
    .l-container {
      width: 700px;
    }
    .l-chapter {
      &__head {
        font-size: 24px;
        padding: 8px 24px;
      }
    }
    .l-single-inner {
      padding: 64px;
    }
    .l-content {
      float: none;
      width: 700px;
    }
  }
  @media screen and(min-width: 1068px) {
    .l-container {
      margin: 40px auto 0;
      width: 1020px;
    }
    .l-content {
      float: right;
    }
  }
  .settings-payment li {
    padding: 24px 0;
    border-bottom: 1px solid #eee;
    form {
      position: relative;
    }
  }
  .settings-not-regist a {
    display: block;
    margin: 40px 0 0;
    text-align: right;
  }
}
