%header
  .header__inner
    .header__inner__upper.clearfix
      %h1.header__inner__upper__logo
        %a{:href => ""}
          =image_tag "mercari_logo_horizontal.png", alt: "mercari", height: "36", width: "134", class: "mercari_logo_horizontal"
      %form.header__inner__upper__form{:action => "https://www.mercari.com/jp/search/"}
        %input.header__inner__upper__form__input.input-default{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""}/
        %i.fas.fa-search.icon-search
    .header__inner__bottom.clearfix
      %nav.header__inner__bottom__l-left
        %ul.search-menu
          %li.search-menu__list.category
            %h2
              %a.search-menu__list__text{:href => ""} カテゴリーから探す
            #search-menu__list__category-list
          %li.search-menu__list.brand
            %h2
              %a.search-menu__list__text{:href => ""} ブランドから探す
              #search-menu__list__brand-list
      .header__inner__bottom__l-right
        %ul.personal-menu
          %li.personal-menu__list.mypage
            %a.personal-menu__list__mypage-link{:href => ""}
              %div
                =image_tag "member_photo.png", class: "mypage-avator", alt: "", width: "32"
                %span マイページ
            #personal-menu__list__mypage-field
          %li.personal-menu__list.notification{"data-id" => "notification", "data-key" => "", "data-url" => ""}
            %a.personal-menu__list__notification-link{"data-url" => "", :href => ""}
              %i.far.fa-bell.icon
              %span お知らせ
              .personal-menu__list__notification-link__count
            #personal-menu__list__notification-field{"data-id" => "personal-menu__list__notification-field"}
          %li.personal-menu__list.todo{"data-id" => "todo", "data-key" => "", "data-url" => ""}
            %a.personal-menu__list__todo-link{"data-url" => "", :href => ""}
              %i.fa.fa-check.icon-check
              %span やることリスト
            #personal-menu__list__todo-field{"data-id" => "personal-menu__list__todo-field"}
