%section.items-box
  = link_to item_path(item.id), method: :get do
    %figure.items-box-photo
      %img.lazyload{alt: "天然石 トパーズ ピアス", src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m48559140106_1.jpg?1527727062"}/
    .items-box-body
      %h3.items-box-name.font-2
        = item.name
      .items-box-num.clearfix
        .items-box-price.font-5
          = number_to_currency(item.price, unit: "¥ ", format: "%u%n")
        .items-box-likes.font-2
          %i.icon-like-border
        %p.item-box-tax (税込)
