-if user_signed_in?
  = link_to new_user_item_path(@user), class: "sell-btn" do
    %div 出品
    = fa_icon 'camera'
-else
  = link_to new_user_session_path, class: "sell-btn" do
    %div 出品
    = fa_icon 'camera'
