%main.single-main
  %section.l-single-container
    %h2.l-single-head  お支払が完了しました
    .l-single-inner
      .l-single-content
        = button_to "トップへ戻る", root_path, method: :get, class: "btn-default btn-red"
=render "mypages/mypage.footer"
