#logout {
  .l-content{
    width: 700px;
    background-color: #fff;
    }
  .l-single-inner {
    padding: 64px;
  }
  .l-single-content {
    max-width: 320px;
    margin: 0 auto;
  }
  .btn-red {
    a {
      color: #fff;
    }
  }
  .btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
}
