%script{async: "async", defer: "defer", src: "https://www.google.com/recaptcha/api.js"}

%main.single-main
  %section.l-single-container
    %h2.l-single-head 支払い方法
    .l-single-inner
      .l-single-content
        = form_tag user_payments_path(@user) do
          %script.payjp-button{"data-key" => ENV['PAYJP_PUBLIC_KEY'], src: "https://checkout.pay.jp/","data-text" => "クレジットカード情報を登録する", "data-submit-text" => "カード情報を登録する"}
