%head
  %script{async: "async", defer: "defer", src: "https://www.google.com/recaptcha/api.js"}
.single-header
  .wrapper.clearfix
    %h1
      %a{href:"/"}
        %img{alt:"mercari", src:"//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?110229100"}/
    %nav.progress-bar.signup-bar
      %ol
        %li
          会員情報
          .progress-status.member.active
        %li
          住所入力
          .progress-status.adress.active
        %li.active
          支払い方法
          .progress-status.cash.active
        %li
          完了
          .progress-status.ok

= form_tag user_payments_path(@user) do
  %script.payjp-button{"data-key" => ENV['PAYJP_PUBLIC_KEY'], src: "https://checkout.pay.jp/"}


%main.single-main
  %section.l-single-container
    %h2.l-single-head 支払い方法
    .l-single-inner
      .l-single-content
        %button.btn-default.btn-red{type: "submit" }
          = link_to "登録する", user_payments_path, method: :post
=render"mypages/mypage.footer"
