=render "shared/header"

=render "shared/top-main-visual"

%section.pickup-container
  %h2.pickup-head ピックアップカテゴリー
  %section.items-box-container.clearfix
    %h3.text-center
      %a{href: "/jp/category/1/"} レディース 新着アイテム
    .items-box-content.clearfix
      - @items.each do |item|
        = render "shared/items-box", item: item 
    .view-all
      %a{href: "#"}
        すべての商品を見る
  -# %section.items-box-container.clearfix
    %h3.text-center
      %a{href: "/jp/category/1/"} メンズ 新着アイテム
    .items-box-content.clearfix
      - @items.each do |item|
        = render "shared/items-box", item: item
    .view-all
      %a{href: "#"}
        すべての商品を見る

=render "shared/app-banner"

=render "shared/footer"
=render "shared/sell-btn"
