@mixin border-left {
  position: absolute;
  bottom:5px;
  display: block;
  content: '';
  height: 2px;
  background: #ccc;
  width: 100%;
  left: 55%;
}
@mixin border-right {
  position: absolute;
  bottom:5px;
  display: block;
  content: '';
  height: 2px;
  background: #ccc;
  width: 100%;
  right: 50%;
}
.single-header {
  .wrapper{
    display: inline-block;
    h1 {
      float: left;
    }
    .progress-bar.signup-bar {
      margin-left: 70px;
      float: left;
      li {
        color: #888;
        font-weight: 600;
        margin: 8px 40px 0 0;
        font-size: 12px;
        float: left;
        position: relative;
        &.active{
          color: #ea352d;
        }
        .progress-status {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: #ccc;
          border-radius: 50%;
          font-weight: 600;
          &.active{
            background: #ea352d;

          }
        }
         .active:before {
          @include border-left;
         }
         .tel:before {
          @include border-left;
         }
         .adress:before {
          @include border-left;
         }
         .cash:before {
          @include border-left;
         }
         .ok:after {
          @include border-right;
         }
         .tel:after {
          @include border-right;
         }
         .adress:after {
          @include border-right;
         }
         .cash:after {
          @include border-right;
         }
      }
    }
  }
}
.l-single-inner {
  padding:0 ;
  .form-group {
    margin-top: 40px;
    label {
      font-weight: 600;
      font-size: 14px;

    }
    span {
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    input {
      margin-top: 8px;
      width: 100%;
      height: 30px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }
  .g-recaptcha {
    margin-top: 40px;
  }
  .actions {
    margin-top: 40px;
    .recaptcha {
      color: #fff;
      background: #ea352d;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
  }
}

